//
//
// _transparentSideBar.scss
//
//


.has-zcm,
#pg-index{
  .nav-menu--slideout{
    background-color: $background-color !important;
    -webkit-box-shadow: -1px 0 0 $gray-300 !important;
    -moz-box-shadow: -1px 0 0 $gray-300 !important;
    -ms-box-shadow: -1px 0 0 $gray-300 !important;
    -o-box-shadow: -1px 0 0 $gray-300 !important;
    box-shadow: -1px 0 0 $gray-300 !important;

    .nav-menu__close{
      color: $body-text-color !important;

      &:hover{
        color: $header-text-color !important;
      }
    }

    .nav-menu__heading{
      color: $header-text-color !important;
    }

    .nav-menu__item{
      a{
        color: $body-text-color !important;

        &:hover{
          color: $theme-color !important;

        }
      }
    }
  }
}













// remove module background-color
// .has-zcm .module__header.module__header--with-image {
//   margin-top: 8px !important;
//   padding: 0px 22px !important;
//   /* height: 9em !important; */
// }
//
// .has-zcm .module__toggle {
//  background-color: transparent !important;
// }
//
// .has-zcm .module:not(.module--carousel):not(.module--placeholder):not(.module--images){
//   background-color: transparent !important;
// }
