.has-zcm{
  .detail{
    background-color: $detail-bg !important;
    border-color: $detail-bg !important;

    .detail__wrap{
      .detail__close{
        color: $detail-color-accent !important;

        &:hover{
          color: $detail-color !important;
        }
      }

      .detail__panes{
        .detail__body{
          a{
            color: $detail-color !important;

            &.c-detail__btn{
              background-color: $ui-bg-color !important
            }

            &:hover{

              &.c-detail__btn{
                background-color: $detail-color-accent !important
              }
            }
          }

          .c-detail__filemeta{
            color: $detail-color-accent !important;
          }

          .c-detail__desc{
            p,i{
              color: $detail-color-accent !important;
            }
          }
        }



      }

      .detail__controls{
        i{
          color: $detail-color !important;
          background-color: $ui-bg-color !important;

          &:hover{
            background-color: $detail-color-accent !important;
          }
        }
      }


    }
  }
}
