//
// zcm
//

.has-zcm{
  .zcm{
    a.zcm__link{
      color: $header-text-color !important;
      font-weight: 400 !important;
      margin: 0px !important;
	    padding: 0 0.5em !important;

      &:hover,
      &:active{
        border-bottom: solid 1px transparent !important;
        cursor: default !important;
        background-color: transparent !important;
      }
      &.is-active{
        border-bottom: solid 1px $header-text-color !important;
        cursor: default !important;
        background-color: transparent !important;
      }
      &.dropdown__button{
        margin: 0 0.5em !important;
      	padding: 0 1.2em !important;
      	border-bottom-color: transparent !important;
      }
    }
    .sep--before:before{
      border-left: 1px solid $body-text-color !important;
    }
  }
}
