.has-zcm{
  #header_wrapper{
    backdrop-filter: saturate(180%) blur(20px)!important;
    background-color: $gray-100 !important;
    background-color: transparentize($gray-100, .12) !important;
    box-shadow: 0 1px 0 $gray-300 !important;

    .header__search-wrap{
      .header__logo{
        background-image: $header__logo !important;
        background-color: $theme-color !important;
        border-radius: 50% !important;
        background-size: cover !important;
        width: 2.25em !important;
        height: 2.25em !important;
      }
    }

  }
}
