.has-zcm form#search_form,
#pg-index form#search_form_homepage
{
  background-color: $gray-200 !important;
  background-color: hsla(hue($theme-color) - 5, (saturation($gray-200) + 8), (lightness($gray-200) / 2) + 4, 0.1) !important;
  border-radius: ($border-radius / 2) !important;
  box-shadow: none !important;
  border: 1px solid hsla(hue($theme-color), 13%, 47%, 0.0) !important;
  color: $gray-700 !important;

  input#search_form_input{
    color: $gray-1000 !important;
  }

  .search__button{
    background-color: transparent !important;
    color: $body-text-color !important;
  }

  .search__button:hover,
  .search__button:focus,
  .search:hover .search__button:focus,
  .search--header.has-text.search--hover .search__button:hover,
  .search--header.has-text.search--focus .search__button:hover,
  .search--home.has-text .search__button:focus,
  .search--home.has-text .search__button:hover{
    background-color: transparent !important;
    color: $theme-color !important;
  }

  .search:hover .search__button,
  .search__input:focus ~ .search__button,
  .search--header.has-text.search--hover .search__button,
  .search--header.has-text.search--focus .search__button,
  .search--home.has-text .search__button {
    background-color: transparent !important;
    color: darken($theme-color, 3%) !important;
  }

}
