.has-zcm{
  #header_wrapper{
    backdrop-filter: saturate(180%) blur(20px)!important;
    background-color: $gray-100 !important;
    background-color: transparentize($gray-100, .12) !important;
    box-shadow: 0 1px 0 $gray-300 !important;

    .header__search-wrap{
      .header__logo{
        background-image: $header__logo !important;
        background-color: $theme-color !important;
        border-radius: 50% !important;
        background-size: cover !important;
        width: 36px !important;
        height: 36px !important;
      }
    }

    a.header__button--menu{
      color: $gray-600 !important;

      &:hover{
        color: $gray-600 !important;
        background-color: $gray-400 !important;
      }
      &:active{
        color: #ffffff !important;
        background-color: $theme-color !important;
      }
      &:focus{
        color: $gray-600 !important;
        background-color: $gray-400 !important;
      }
    }


    .header__search-wrap{
      // max-width: 590px !important;


    }




  }


}
