.has-zcm{
  .forecast-wrapper{
    .module.module--forecast{
      @include card;

      .js-forecast-module-detail{
        .module__top{
          .module__place.text--primary{
            color: $header-text-color !important;
          }
          .module__summary{
            color: $body-text-color !important;
          }
          .module__detail.module__detail--left{
            .module__temperature{
              .module__temperature-value{
                color: $header-text-color !important;
                font-weight: $header-weight !important;
              }
              .module__temperature-units {
                font-weight: $body-text-weight !important;
              }
              .module__temperature-unit--on {
                border-bottom: 1px solid $body-text-color !important;
              }

              .module__temperature-unit-separator{
                color: $body-text-color !important;
              }
            }

          }
          .module__detail.module__detail--right {
          	color: $body-text-color !important;

          	.summary-more {
          	  font-weight: $body-text-weight !important;
            }
          }

        }

        .module__bottom{
          padding: 0 0 1.1875em !important;

          .module__detail.module__detail--hours{
            canvas{
              filter: contrast(0)sepia(1)hue-rotate(188deg)brightness(1)saturate(1.4) !important;
            }
          }
          .module__detail--hours__labels{
            justify-content: space-around !important;

            .module__detail--hours__labels__item{
              .module__detail__temp-label{
                font-size: 500 !important;
                color: $header-text-color !important;
              }
              .module__detail__hour-label{
                color: $body-text-color !important;
              }
            }
          }
        }

      }
      .module__items.align-days{
        color: $body-text-color !important;

        .module__items-item {
          border-top: solid 1px transparent !important;

          &:not(:last-child){
            border-right: solid 1px $gray-400 !important;
          }
          &.module__items-item--selected{
            background-color: transparent !important;
            border-top: solid 1px $theme-color !important;
            color: $body-text-color !important;

            .module__items-day{
              color: $gray-1000 !important;
            }
            .module__items-unit{
              color: $body-text-color !important;
            }
          }
          &:hover{
            background-color: hsl(hue($theme-color), 44%, 98%) !important;
            color: $body-text-color !important;
          }

          .module__items-unit--low{
            color: $body-text-color !important;

          }
        }
      }
      img {
	      filter: contrast(0.88)brightness(0.98);
      }
    }
    .module__more-at-and-feedback{
      p{
        a{
          text-decoration: none !important;

          &:hover{
            text-decoration: underline !important;
          }

          &.feedback-prompt__link{
            display: $feedback-prompt_display !important;
          }

          img{
            opacity: 1 !important;
          }

        }
        &.module__more-at{
          a.zci__more-at{
            color: $body-text-color !important;

          }
        }
      }

    }
  }

}
