$calc-border: 1px solid $gray-400;
$calc-text-color: $gray-1000;

@mixin calc-nums {
  background-color: $gray-000 !important;
  border: $calc-border !important;
  color: $calc-text-color !important;
  &:hover{
    background-color: $gray-300 !important;
  }
}
@mixin calc-ops{
  background-color: hsl(hue($theme-color), 100%, 74%) !important;
  border: $calc-border !important;
  color: $calc-text-color !important;
  &:hover{
    background-color: hsl(hue($theme-color), 100%, 70%) !important;
  }
}
@mixin calc-sci {
  background-color: $gray-200 !important;
  border: $calc-border !important;
  color: $calc-text-color !important;
  &:hover{
    background-color: $gray-300 !important;
  }
}
@mixin calc-history{
  background-color: lighten($gray-200, 3) !important;
  border: $calc-border !important;
  color: $calc-text-color !important;

}


.has-zcm{
  .zci--calculator{
    .tile__calc{
      .tile__skip-calc{
        @include calc-sci;
      }

      .tile__display{
        background-color: $gray-000 !important;
        border: $calc-border !important;
        border-top:  solid 2px $gray-400 !important;
        border-left: solid 2px $gray-400 !important;

        &.hover{
          box-shadow: inset -1px -1px 0px $gray-500, inset 1px 1px 0px $gray-500;
        }

        &.selected{
          box-shadow: inset -1px -1px 0px $theme-color, inset 1px 1px 0px $theme-color;
        }
        .tile__display__aside--wrap{
          .tile__display__aside{
            color: $body-text-color !important;
          }
        }
        .tile__display__main{
          color: $header-text-color !important;
        }
        .tile__options{
          .tile__option{
            color: $body-text-color !important;

            &.tile__option--active{
              color: $theme-color !important;
            }
          }
        }
        .tile__display__main{
          background: transparent !important;
        }
      }

      .tile__tabs{

        .tile__calc__col{
          &.tile__tab__sci{
            border-bottom: $calc-border !important;
            border-left: $calc-border !important;

            span.tile__ctrl__toggle{
              @include calc-sci;

              .tile__ctrl__toggle-slider{
                background-color: $gray-500 !important;
              }
            }

            button.tile__ctrl__btn{
              @include calc-sci;
            }

          }

          &.tile__tab__basic{
            border-bottom: $calc-border !important;

            button.tile__ctrl__btn{
              @include calc-nums;

              &.tile__ctrl--important{
                @include calc-ops;
              }

              &.tile__ctrl--ops{
                @include calc-sci;
              }
            }

          }

          &.tile__history{
            @include calc-history;

            li{
              @include calc-nums;
              border: none !important;

              &.tile__past-calc{
                border-bottom: $calc-border !important;
              }

              .tile__past-formula{
                color: $body-text-color !important;

              }

              .tile__past-result{
                color: $header-text-color !important;
              }
            }
          }
        }



      }
    }
  }
}
