//
// module--about
//

.has-zcm{
  .module.module--about{
    @include card;
    overflow: hidden !important;

    .module__header{
      .module__header__shadow{
        box-shadow: 0 -1px 1px darken($gray-200, 3);
      }
      span.label {
        backdrop-filter: blur(7px);
        background-color: hsla(hue($theme-color)+2, 38%, 26%, .42);
        color: #ffffff;
        border-top-left-radius: 0.5em;
        padding-bottom: 0.55em !important;
      }
    }

    .module__title{
      color: $header-text-color !important;
    }
    .module__official-url{
      color: $theme-color !important;
      -webkit-font-smoothing: auto !important;
    }
    .dir-btn{
      .dir-btn__link.btn {
        color: hsl(hue($theme-color), 100%, 54%) !important;
        background-color: hsl(hue($theme-color)+2, 29%, 86%) !important;
        border: 1px solid hsl(hue($theme-color)+2, 32%, 84%) !important;
        font-weight: 600 !important;
        -webkit-font-smoothing: auto !important;
        transition: all .1s ease-out;

        &:hover{

          color: hsl(hue($theme-color), 100%, 54%) !important;
          background-color: hsl(hue($theme-color)+2, 15%, 79%) !important;
          border: solid 1px hsl(hue($theme-color)+2, 14%, 79%) !important;
        }
      }

    }
    a.module__clickable-header {
      margin: -8px 0px 8px !important;
      padding: 7px 0px !important;
      border-bottom: none !important;

      .module__link.module__link--blue.module__link--two-line.tx--bold {
          color: $header-text-color !important;
          font-weight: 600 !important;
          font-size: 1.5em !important;
      }
    }


    .module__text{
      color: $gray-600 !important;

      .module__more-a.tx--bold{
        font-weight:500 !important;
        color: $theme-color !important;
      }
      pre{
        background-color: saturate(lighten($gray-200, 3%),17%) !important;
      }
    }
    .about-info-box {
      padding-top: .25em !important;
      color: $gray-600 !important;

      .about-info-box__info-row:first-child,
      .about-info-box__link-row:first-child{
        padding-top: .125em !important;
      }
      .about-info-box__info-row{
        border-top: $gray-400 !important;
      }
      .about-info-box__info-value{
        color: $gray-600 !important;
      }
    }
    a.about-profiles__link{
      color: $body-text-color !important;
    }
    .module__toggle {
      background-color: transparent !important;
      border-top: none !important;
      color: $theme-color !important;

      &:hover{
        background-color: hsla(226, 30%, 30%, .02) !important;
      }
    }
    .module__toggle--more::after{
      background: linear-gradient(rgba(255,255,255,0), #f0f1f4) !important;
      top: 1.25em !important;
      height: 1.25em !important;
    }
    .feedback-prompt{
      display: $feedback-prompt_display !important;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .has-zcm{
    .module.module--about{
      border-radius: $border-radius !important;

      .module__title{
        color: $body-text-color !important;
      }
      .module__official-url{
        color: $theme-color !important;
      }
      .dir-btn{
        .dir-btn__link.btn {
          color: $theme-color !important;
          background-color: adjust-color($theme-color, $alpha: -90%) !important;
        }
      }

      .module__text{
        color: $gray-600 !important;

        .module__more-a.tx--bold{
          color: $theme-color !important;
        }
      }
      .about-info-box {
        color: $gray-600 !important;

        .about-info-box__info-row:first-child,
        .about-info-box__link-row:first-child{
          padding-top: .125em !important;
        }
        .about-info-box__info-row{
          border-top: $gray-400 !important;
        }
      }
      a.about-profiles__link{
        color: $body-text-color !important;
      }
      .module__toggle {
        color: $theme-color !important;
      }
      .feedback-prompt{

      }
    }
  }
}
