.has-zcm{
  .vertical--map{
    .vertical--map__sidebar{
      background-color: transparent !important;

      .vertical--map__sidebar__wrapper{
        @include header-translucency;

        .vertical--map__sidebar__results{
          .vertical--map__sidebar__results__inner{
            background-color: transparent !important;
            border: 0px solid transparent !important;

            .module__section.place-list-item{
              margin: 1em 0.5em !important;
            	padding: 0.8em !important;
            	border-top: solid 1px transparent !important;
            	border-radius: 1em !important;
              overflow: visible !important;

              &:hover{
                background-color: $ui-bg-color-hover !important;
              }

              &:first-child{
                margin-top:0.5em !important;
              }
              &:last-child{
                margin-bottom:0.5em !important;
              }
              &:after{
                display:block !important;
                width:100% !important;
                height:0px !important;
                background-color:transparent !important;
                content:" " !important;
                position:absolute !important;
                bottom: -0.5em !important;
                right:0 !important;
                border-bottom: solid 1px $panel-border-color !important;
              }
              &:last-child:after{
                display:none !important;
              }

              h2.place-list-item__title{
                color: $header-text-color  !important;
              }

              .place-list-item__info,
              .place-list-item__rating{
                color: $body-text-color !important;

                li.place-list-item__info__item{
                  color: $body-text-color !important;

                  span.place-detail__status .place-detail__status--off{
                    color: $body-text-color !important;
                  }
                }
              }

            }







          }

        }
        .vertical--map__sidebar__footer{
          .map-sidebar-footer{
            .feedback-prompt{
              display: $feedback-prompt_display !important;

              a.feedback-prompt__link{
                display: $feedback-prompt_display !important;
              }
            }
          }
        }


      }




      .map-control{
        button{
          @include header-translucency;
        }
      }




      .js-vertical-map-sidebar-header-wrapper{
        .vertical--map__sidebar__header{
          @include header-translucency;

          form{
            input.search__button{
              font-family: $ddg-icons !important;
            }

            &#search_form{
              color: $header-text-color !important;

              input.search__input--maps{
                color: $header-text-color !important;
              }

            }
          }

        }
      }
    }

  }




//move later
  .vertical--map__sidebar__detail{
    .places-single-map{
      .place-detail{
        background-color: transparent !important;

        .module__title.place-detail__name{
          a.module__title__link{
            color: $header-text-color  !important;

            &:hover{
              text-decoration-color: $body-text-color !important;
            }
          }

        }
      }
    }
  }
}


.vertical--map--sidebar-left .vertical--map__sidebar__header__link__icon,
.vertical--map--sidebar-left .vertical--map__sidebar__header__link__icon--back{
  filter:brightness(3) !important;
  -webkit-filter: brightness(3) !important;
}
