// see _component--result.scss to edit results of the News page.










// .has-zcm{
//   .vertical--news{
//     .results--main{
//       .results{
//         .result.result--news{
//           // border: solid 1px transparent !important;
//
//           .result__body {
//             h2.result__title{
//               a.result__a{
//                 // color: $header-text-color !important;
//                 // font-weight: $header-weight !important;
//                 // -webkit-font-smoothing: antialiased;
//
//                 &:hover{
//                 //   text-decoration: none !important;
//                 }
//               }
//
//               &:hover ~ div .result__extras__url a.result__url{
//                 // text-decoration: underline !important;
//               }
//             }
//
//             .result__extras{
//               .result__extras__url{
//                 a.result__url{
//                   // color: $theme-color-ui !important;
//                 }
//
//                 .result__extras__sep,
//                 .result__timestamp{
//                   color: $body-text-color !important;
//                 }
//               }
//             }
//
//             .result__snippet{
//               // color: $body-text-color !important;
//               // text-decoration: none !important;
//
//               b{
//                 // color: $body-text-color !important;
//                 // font-weight:$header-weight !important;
//               }
//             }
//
//             .result__image{
//               margin: 0.2em 0em 0.2em 1.5em !important;
//
//               .result__image__plc{
//                 background-color: $theme-color !important;
//               }
//             }
//           }
//
//           &.highlight{
//             @include card;
//           }
//         }
//       }
//     }
//   }
// }
