.has-zcm{
  .vertical--map{
    .vertical--map__sidebar{
      .vertical--map__sidebar__wrapper{
        @include header-translucency;

        .vertical--map__sidebar__results{
          .vertical--map__sidebar__results__inner{
            .module__section.place-list-item{
              margin: 1em 0.5em !important;
            	padding: 0.8em !important;
            	border-top: solid 1px transparent !important;
            	border-radius: 1em !important;
              overflow: visible !important;

              &:hover{
                background-color: $ui-bg-color-hover !important;
              }

              &:first-child{
                margin-top:0.5em !important;
              }
              &:last-child{
                margin-bottom:0.5em !important;
              }
              &:after{
                display:block !important;
                width:100% !important;
                height:0px !important;
                background-color:transparent !important;
                content:" " !important;
                position:absolute !important;
                bottom: -0.5em !important;
                right:0 !important;
                border-bottom: solid 1px $gray-400 !important;
              }
              &:last-child:after{
                display:none !important;
              }

              .place-list-item__info,
              .place-list-item__rating{
                color: $body-text-color !important;
              }

            }



          }

        }
      }




      .map-control{
        button{
          @include header-translucency;
        }
      }




      .js-vertical-map-sidebar-header-wrapper{
        .vertical--map__sidebar__header{
          @include header-translucency;
        }
      }
    }
  }
}
