#links{
  .result{
    h2:hover ~ div {
      text-decoration: underline !important;
    }
  }
}

.has-zcm{
  #links{
    margin-top: 0 !important;
    .result{
      border-radius: 1em !important;
      .result__body {
      // padding-left: 10px; //Don't change
      // padding-right: 10px; //Don't change
      padding-top: 0.6em !important;
      padding-bottom: 0.8em !important;

        h2.result__title{
          display: inline-block !important;

          a.result__a{
            font-weight: 500 !important;
            color: $body-text-color !important;
            -webkit-font-smoothing: $font-smoothing !important;
            b{
              font-weight: 600 !important;
            }
            &:hover{
              text-decoration: none !important;
              color: $body-text-color !important;
            }
            &:visited{
              color: $gray-600 !important;
            }
          }

        }

        .result__extras{
          .result__extras__url{
            a.result__url{
              -webkit-font-smoothing: auto !important;
              color: $search-result-url !important;

              &:hover{
                color: $search-result-url-hover !important;
              }
              &:visited{
                color: $search-result-url-visited !important;
              }
            }
          }

        }
        .result__snippet{
          -webkit-font-smoothing: $font-smoothing !important;
          color: $gray-600 !important;
          text-decoration: none !important;

          b, strong{
            color: $gray-600 !important;
            font-weight: 500 !important;
          }

        }
      }
      &.highlight{
        @include card;
        
        // -webkit-box-shadow: none !important;
        // box-shadow: none !important;
        // // border-radius: 1em !important;
        // background-color: $gray-200 !important;
        // border: solid 1px transparent !important;
      }

    }
    .results__sitelink--organics{
      -webkit-font-smoothing: $font-smoothing !important;
      a.result__sitelink-title{
        color: $body-text-color !important;
        font-weight: 500 !important;

        &:visited{
          color:$gray-600 !important;
        }
      }
      .result__snippet{
        color:$gray-600 !important;
      }

    }
  }
}



// underline.js
// hover event for 'a' elements
//
// .has-zcm .module--carousel__item:hover div ~ span .module--carousel__gray-text {
// 	text-decoration: underline !important;
// }
//
// .has-zcm .module.module--carousel .module--carousel__footer:hover span.module--carousel__gray-text{
//   text-decoration: none !important;
// }
