.has-zcm{
  .result{
    .result__body {
      padding: .8em !important;
      .result__title{
        h2 {
          a.result__a{
            font-weight: 500 !important;
            color: $body-text-color !important;
            b{
              font-weight: 600 !important;
            }
            &:hover{
              text-decoration: none !important;
              color: $body-text-color !important;
            }
            &:visited{
              color: $gray-600 !important;
            }
          }
        }
      }
      .result__extras{
        .result__extras__url{
          a.result__url{
            -webkit-font-smoothing: auto !important;
            color: $theme-color !important;
          }
        }

      }
      .result__snippet{
        -webkit-font-smoothing: antialiased !important;
        color: $gray-600 !important;
      }
    }
    .highlight{
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      border-radius: 8px !important;
      background-color: $gray-200 !important;
    }
  }
}
