//
// result--more
//

.has-zcm{
  .result--more{
    a.result--more__btn{
      -webkit-transition: all .3s cubic-bezier(0.65, 0.05, 0.36, 1) !important;
      -o-transition: all .3s cubic-bezier(0.65, 0.05, 0.36, 1) !important;
      transition: all .3s cubic-bezier(0.65, 0.05, 0.36, 1) !important;
      border: 1px solid transparent !important;
      color: $theme-color-on-ui !important;
      background-color: $gray-200 !important;
      font-weight: 400 !important;
      border-radius: $border-radius !important;

      &:hover{
        background-color: hsl(hue($theme-color), 15%,86%) !important;
        border-color: hsl(hue($theme-color), 13%, 84%) !important;
        color: $theme-color-on-ui !important;
      }
    }
  }
  .result--sep{
    &.result--sep--hr:before{
      background-color: $gray-500 !important;
    }
    .result__pagenum {
      color: $gray-500 !important;
    }
  }
}
