#links{
  .result{
    h2:hover ~ div {
      text-decoration: underline;
    }
  }
}

.has-zcm{
  #links{
    .result{
      .result__body {
        padding: .8em !important;
        h2.result__title{
          display: inline-block !important;
          
          a.result__a{
            font-weight: 500 !important;
            color: $body-text-color !important;
            b{
              font-weight: 600 !important;
            }
            &:hover{
              text-decoration: none !important;
              color: $body-text-color !important;
            }
            &:visited{
              color: $gray-600 !important;
            }
          }

        }

        .result__extras{
          .result__extras__url{
            a.result__url{
              -webkit-font-smoothing: auto !important;
              color: $theme-color !important;

            }
          }

        }
        .result__snippet{
          -webkit-font-smoothing: antialiased !important;
          color: $gray-600 !important;
          text-decoration: none !important;
        }
      }
      &.highlight{
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        border-radius: 8px !important;
        background-color: $gray-200 !important;
        border: solid 1px transparent !important;
      }

    }
    .results__sitelink--organics{
      a.result__sitelink-title{
        color: $body-text-color !important;

        &:visited{
          color:$gray-600 !important;
        }
      }
      .result__snippet{
        color:$gray-600 !important;
      }

    }
  }
}




// h2:hover ~ div {
//     text-decoration: underline;
// }
// .result__snippet{
//     text-decoration: none !important;
// }
