//
//
// _tinted-variables.scss
//
//


//
// color
//

// colors
$theme-color:                    hsl(226, 100%, 50%); //#698bff; // hue 226.4
$theme-color-ui:   hsl(hue($theme-color), 100%, 58%);
$selection-color:  hsl(hue($theme-color), 100%, 93%);

$accent-color:  hsl(226, 100%, 50%);

$gray-000:       #ffffff; // white
$gray-100:       #fbfbfb; // page-bg      0%, 98%
$gray-200:       hsl(hue($accent-color), 13%, 94%); //#ecedf1; //#f0f1f4; //card-bg
$gray-300:       hsl(hue($accent-color), 13%, 89%); // card-bg:hover
$gray-400:       hsl(hue($accent-color), 13%, 84%); // #e1e3e8; // hr, border
$gray-500:       hsl(hue($accent-color), 20%, 70%); // #b3b3c7; //#8e8e93;   // header-color-dark
$gray-600:       hsl(hue($accent-color), 10%, 51%); // #202020 // body-color-dark // swap with 600
$gray-700:       hsl(hue($accent-color), 12%, 42%); //#666c7f; //#6d7283;//#636367; //body-color
$gray-800:       hsl(hue($accent-color), 13%, 20%); // #1e1e1e
$gray-900:       hsl(hue($accent-color), 15%, 16%); // page-bg-dim
$gray-950:       hsl(hue($accent-color), 28%,  7%); // page-bg-dark
$gray-1000:      #000000; // black

// backdrop
$backdrop-filter: saturate(180%) blur(20px);





//
// quality of life
//

//

// scale
$body-text-size:    90%; //default-size: 90%;

//feedback display
$feedback-prompt_display: none; //display?

//ads
$ads_display: none;




//
// font
//

// font-family

$system-fonts: -apple-system, BlinkMacSystemFont,"Segoe UI","Inter", Roboto,"Helvetica Neue", Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$custom-font: sans-serif;
$default-font: 0;

$font-family: $default-font;


// font-smoothing: `antialiased` for crisp fonts or `auto` for more contrast. Links will be auto. Recommend non-gray color text to have auto font-smoothing. Recommend non-retinal displays to use auto.

$font-smoothing-nav: antialiased;   // for navigation and options
$font-smoothing:     auto;   // for header and body


// font-colors, font-colors
$body-text-color:   $gray-700;
$body-text-weight:  400;

$header-text-color: $gray-1000;
$header-weight: $body-text-weight + 100;


// rounded border radius: Recommend value between 0 - 1. 0 for 90deg corners.
$border-radius:  1em;





//
// code
//

// $code  letter-spacing: 0.4px;

  $code-color:hsl(145deg, 87%, 26%);
  $code-background:$gray-200;
  $code-border:$gray-200;
  $code-highlight:hsl(144deg, 59%, 80%);

//





//
// search results
//

// search title
$search-result-title:            $body-text-color;
$search-result-title-hover:      $search-result-title;
$search-result-title-visited:    $gray-700;

$search-result-title-weight:     ($body-text-weight + 100);
$search-result-title-weight-b:   ($search-result-title-weight + 100);


// search url
$search-result-url:          $theme-color;
$search-result-url-hover:    $theme-color;
$search-result-url-visited:  $theme-color;

$search-result-url-font-weight:            $body-text-weight;
$search-result-url-font-weight-thickness:  auto;


// search description
$search-result-desc:           $gray-700;
$search-result-desc-hover:     $search-result-desc;
$search-result-desc-visited:   $search-result-desc;

$search-result-desc-weight:    $body-text-weight;
$search-result-desc-weight-b:  ($search-result-desc-weight + 100);


// search results container
$search-results-bg:            $gray-200;
$search-results-border:        $gray-200;

$search-results-bg-hover:      $gray-200;
$search-results-border-hover:  $gray-200;


// translucent background-color
$page-bg-translucent-92:  rgba($gray-100, .92);
$page-bg-translucent-72:  rgba($gray-100, .72);


// search bar and auto-complete
$search-bar-bg-translucent:  red;
$search-bar-border-color:  red;

$search-AC-bg:  red;
$search-AC-bg-translucent:  red;



// modal
$modal-bg:  $gray-100;
$modal-bg-translucent: rbga($modal-bg, .72);
$model-body: $body-text-color;
$model-border:  rgba(0,0,0,0.12);
$modal-list-bg-hover:  $theme-color;





//
// mixins
//

// card
@mixin card {
  background-color: $gray-200 !important;
  border: solid 1px $gray-200 !important;
  border-radius: $border-radius !important;
  box-shadow: none !important;
  border-bottom-color: $gray-200 !important;
}

@mixin card-button {
  @include card;

  &:hover{
    background-color: $gray-300 !important;
    border: solid 1px $gray-300 !important;
    border-radius: $border-radius !important;
    box-shadow: none !important;
    border-bottom-color: $gray-300 !important;
  }
}

@mixin button-bg($btn-bg, $btn-radius-divisions){
  @if $btn-bg == $gray-100{
    background-color: $gray-200 !important;
    &:hover{
      background-color: $gray-300 !important;
    }
  }
  @else if $btn-bg == $gray-200{
    background-color: $gray-300 !important;
    &:hover{
      background-color: darken($gray-300, 5) !important;
    }
  }
  @else {
    background-color: darken($btn-bg, 5) !important;
    &:hover{
      background-color: darken($btn-bg, 10) !important;
    }
  }

  @if $btn-radius-divisions  == 0{
    border-radius: 0 !important;
  }
  @else{
    border-radius: $border-radius / $btn-radius-divisions !important;
  }
}

@mixin font{
  @if $font-family == 0{
    /* Using default font. */
  }
  @else if $font-family == $system-fonts{
    #pg-index,
    .has-zcm{
      body, input, select, textarea{
        font-family: $system-fonts !important;
      }

    }
  }
  @else if $font-family == $custom-font{
    #pg-index,
    .has-zcm{
      body, input, select, textarea{
        font-family: $custom-font !important;
      }

    }
  }
  @else{
    /* font failed */
  }

}
