.has-zcm{
  .zci-wrap{
    background-color: transparent !important;

    .zci{
      background-color: transparent !important;
      color: $header-text-color !important;
      border-bottom: 1px solid transparent !important;

      .tileview,
      .tileview--grid{
        .metabar--fixed{
          // background-color: transparent !important;
        }
        .metabar__mode{
          background-color: transparent !important;
          color: $body-text-color !important;

          &.metabar__grid-btn,
          &.metabar__grid-btn:hover{
            border: solid 1px transparent !important;
          }
        }
        a.attribution--link .attribution--link__icon{
          color: $body-text-color !important;
        }

        .tile-wrap{
          .zci__main{
            .tile{
              &:after {
                  content: "";
                  background: $theme-color;
                  height: 11px;
                  width: 11px;
                  display: block;
                  position: absolute;
                  top: 8px;
                  right: 8px;
                  border-radius: 50%;
                  opacity: 0;
                  transition: all 0.01s ease;
              }
              &:hover:after {
                  opacity: 1;
              }
            }

            .tile-nav.can-scroll, .tile-nav.can-scroll:after{
              color: $gray-100 !important;
              background-color: $theme-color !important;
              box-shadow: none !important;
              background-color: hsla(hue($theme-color), 100%, 50%, .75) !important;
              backdrop-filter: blur(2px)saturate(150%);
            }

            i{
              $i-offset: 2px;
              &.tile-nav--next:before{
                left: $i-offset !important;
              }
              &.tile-nav--prev:before{
                right: $i-offset !important;
              }
            }

            .tile{
              background-color: $gray-200 !important;
              border: solid 1px darken($gray-200, 1) !important;
              box-shadow: none !important;
              // box-shadow: 0 2px 11px -3px rgba(50, 99, 252, 0.1) !important;
              border-radius: 1em !important;
              border-bottom-color: darken($gray-200, 1) !important;

              &:hover{
                // border: solid 1px $theme-color !important;
              }

              .tile__title a{
                color: $header-text-color !important;
                font-weight: 500 !important;
                &:hover{
                  color: $theme-color-ui !important;
                  text-decoration-color: $gray-700 !important;
                }

              }

              .tile__title__sub {
                color: $body-text-color !important;
              }

              .tile__content{
                color: $body-text-color !important;
              }
            }


          }
        }
      }
    }
  }
}
