//
// related-searches
//

html.dark-bg.has-zcm.is-related-search-exp{
  .related-searches{
    // border-radius: $border-radius !important;
    // overflow:hidden !important;
    padding: .5em 1.2em 0.8em !important;

    &.at-bottom{
      padding: 0px 0px !important;
      background: transparent !important;
    }

    .related-searches__title-long,
    .related-searches__title-short{
      font-weight: 500 !important;
      color: $header-text-color !important;
      font-size: 1em !important;
    }

    .related-searches__lists{
      ol.related-searches__list{
        font-size: 0.875em !important;

        li.related-searches__item{
          @include theme-card-button;

          a.related-searches__link{
            font-weight: 400 !important;
            color: $theme-color !important;
            font-size: 1em !important;
          }
          .related-searches__item-text::before{
            color: $theme-color !important;
            content: 'S' !important;
            background-image: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 100%) !important;
          }

          &:hover{

            a{
              text-decoration: none !important;
              span.related-searches__item-text::before{
                text-decoration: none !important;

                span{
                  text-decoration:underline !important;
                }
              }

            }


          }

        }


      }

    }



  }
  .results--sidebar{
    .module-slot{
      .related-searches{
        background-color: transparent !important;
      }
    }
  }
}
