@mixin metabar-translucency {
  @if $browser-support == 0{
    background-color: $background-color !important;
  }
  @else if $browser-support == 1{
    -webkit-backdrop-filter: $backdrop-filter !important;
    backdrop-filter: $backdrop-filter !important;
    background-color: $background-color !important;
    background-color: transparentize($background-color, .01) !important;
  }
  @else if $browser-support == 2{
    background-image: linear-gradient(
0deg, rgba($background-color, 1) 0%, rbga($background-color, 0.33) 20%, rgba($background-color, 0) 50%, rgba($background-color, 0.33) 80%, rgba($background-color, 1) 100%) !important;
    -webkit-backdrop-filter: saturate(180%) blur(10px) !important;
    backdrop-filter: saturate(180%) blur(10px) !important;
    background-color: $background-color !important;
    background-color: transparentize($background-color, $backdrop-opacity) !important;
  }
  @else if $browser-support == 3{
    -webkit-backdrop-filter: $backdrop-filter !important;
    backdrop-filter: $backdrop-filter !important;
    background-color: $background-color !important;
    background-color: transparentize($background-color, $backdrop-opacity) !important;
  }
  @else{
    background-color: $background-color !important;
  }
}



@mixin metabar-d {
  @if $browser-support == 1{
    display: none !important;
  }
  @else{
  }
}




html.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.has-zcm{
  .metabar{
    @include metabar-translucency;
    border-bottom-color: $panel-border-color !important;
    .metabar__in{
      .metabar__mode-wrap{
        a.metabar__mode{
          color: $body-text-color !important;
          &.btn--icon{
            background-color: transparent !important;
            border: solid 1px transparent !important;
          }
          &.metabar__grid-btn{
            border: solid 1px $ui-bg-color !important;
            background-color: $ui-bg-color !important;
          }
          &:hover{
            border: solid 1px $ui-bg-color-hover !important;
            background-color: $ui-bg-color-hover !important;
          }
        }
      }
      .metabar__attribution{
        .metabar__attribution__sep{
          color: $body-text-color !important;
        }
        .modal-trig{
          a.attribution--link{
            .attribution--link__icon{
              color: $body-text-color !important;
            }
            &:hover .attribution--link__icon{
              color: $header-text-color !important;
            }
          }
        }
      }
      .metabar__primary-text{
        color: $header-text-color !important;
        .metabar__term{
          font-weight: $header-weight !important;
        }
      }
      .zcm{
        &.zcm--sub{
          ul.zcm__menu{
            li.zcm__item{
              a.zcm__link--sub{
                color: $body-text-color !important;
                &.is-selected{
                  color: $header-text-color !important;
                }
                &:hover{
                  text-decoration: underline !important;
                  color: $header-text-color !important;
                  text-decoration-color: $body-text-color !important;
                  sup.zvm__link__count{
                    // color: $header-text-color !important;
                  }
                }
              }
            }
          }
        }
      }
      .metabar__more-at{
        a.zci__more-at{
          color: $header-text-color !important;
        }
      }
    }
  }
  .search-filters-wrap,
  .metabar__dropdowns-wrap{
    &::before,
    &::after{
      display: none !important;
    }
  }
  .site-wrapper{
    .dropdown{
      &.is-active{
        a.dropdown__button{
          font-weight: 400 !important;
        }
      }
      a.dropdown__button{
        color: $header-text-color !important;
      }
      .dropdown__switch{
        &.switch{
          background-color: $body-text-color !important;
        }
        &.switch.is-on{
          background-color: $theme-color !important;
        }
        .switch__knob{
          background-color: $background-color !important;
        }
      }
    }
  }
  &.set-header--floating .metabar{
    @include metabar-d;

  }
}
