@use "sass:math";

html.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.has-zcm{
  .module.module--places{
    @include card;

    .module__header{
      border-top-left-radius:  1em !important;
	    border-top-right-radius: 1em !important;

      span.label{
        -webkit-backdrop-filter: blur(7px) !important;
        backdrop-filter: blur(7px) !important;
        background-color: $detail-bg !important;
        color: #ffffff !important;
        border-top-left-radius: 0.5em !important;
        padding-bottom: 0.55em !important;
      }
    }

    .user-loc-tile{
      box-shadow: none !important;
      border-radius: 8px !important;
    }
    .module__place-list{
      .module__section.place-list-item {
        @include card-button;


        margin: 1em !important;
        padding: 1em !important;
        display:block;
        overflow:visible !important;
        min-height:5em !important;

        .place-list-item__title{
          color:$header-text-color !important;
        }
        .place-list-item__info{
          .place-list-item__info__item{
            color:$body-text-color !important;
          }
        }


        .place-list-item__info,
        .place-list-item__rating{
          color: $body-text-color !important;
        }
        &:first-child{
          margin-top:0.5em !important;
        }
        &:last-child{
          margin-bottom:0.5em !important;
        }
        &:after{
          display:block !important;
          width:100% !important;
          height:0px !important;
          background-color:transparent !important;
          content:" " !important;
          position:absolute !important;
          bottom: -0.6em !important;
          right:0 !important;
          border-bottom: solid 1px $ui-bg-color-hover !important;
        }
        &:last-child:after{
          display:none !important;
        }
      }
    }
    .module__link--blue{
      color: $theme-color !important;

      &:hover{
        color: $theme-color !important;
        text-decoration: none !important;
      }
      &:active{
        color: $theme-color !important;
      }
      &:focus{
        color: $theme-color !important;
      }
    }
    .module__section.module__places-more{
        border-top: solid 1px $ui-bg-color-hover !important;

        span{
          @include button-bg($ui-bg-color-hover-secondary ,2);
          display: inline-block !important;
          padding: 0.15em 0.75em !important;
          font-weight: $header-weight !important;
        }
    }
    .place-list-item__image{
      border-radius: math.div($border-radius, 4) !important;
    }

    .feedback-prompt{
      display: $feedback-prompt_display !important;
    }
  }
}

html.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.has-zcm{
  .sidebar-modules .module.module--places,
  .place-detail{
    @include card;
  }
}
