//
// module--about
//

@if $theme-dark{
  $pre-bg: $pre-bg-dark;

}

html.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.has-zcm{
  .module.module--about{
    @include card;
    overflow: hidden !important;

    .module__header{
      &.module__header--with-image{
        border-top-right-radius: $border-radius !important;
        border-top-left-radius: $border-radius !important;
      }


      .module__header__shadow{
        box-shadow: 0 -1px 1px darken($detail-bg, 3);
      }
      span.label {
        -webkit-backdrop-filter: blur(7px);
        backdrop-filter: blur(7px);
        background-color: hsla(hue($theme-color)+2, 38%, 26%, .42);
        color: #ffffff;
        border-top-left-radius: 0.5em;
        padding-bottom: 0.55em !important;
      }
    }

    .module__title{
      color: $header-text-color !important;
      -webkit-font-smoothing: antialiased !important;
    }
    .module__official-url{
      color: $theme-color !important;
      -webkit-font-smoothing: auto !important;
    }
    .dir-btn{
      .dir-btn__link.btn {
        @include button-bg($ui-bg-color-hover-secondary,2);

        font-weight: 600 !important;
        -webkit-font-smoothing: auto !important;
        transition: all .1s ease-out;

        // border: solid 0 transparent !important;

        &:hover{

          // color: hsl(hue($theme-color), 100%, 54%) !important;
          // color: $theme-color !important;
          // background-color: $1gray-600 !important;
          // border: solid 1px $1gray-600 !important;
        }
      }

    }
    a.module__clickable-header {
      margin: -8px 0px 8px !important;
      padding: 7px 0px !important;
      border-bottom: none !important;

      .module__link.module__link--blue.module__link--two-line.tx--bold {
          color: $header-text-color !important;
          font-weight: 600 !important;
          font-size: 1.5em !important;
      }
    }


    .module__text{
      color: $body-text-color !important;

      .module__more-a.tx--bold{
        font-weight: 500 !important;
        color: $theme-color !important;
      }
      pre,
      pre.prettyprint,
      pre.prettyprinted,
      pre.prettyprint.prettyprinted{
        background-color: $pre-bg !important;
      }
    }
    .about-info-box {
      padding-top: .25em !important;
      color: $body-text-color !important;

      .about-info-box__info-row:first-child,
      .about-info-box__link-row:first-child{
        padding-top: .125em !important;
      }
      .about-info-box__info-row{
        border-top: $ui-border-color !important;

        .about-info-box__info-label{
          color: $header-text-color !important;
        }
      }
      .about-info-box__info-value{
        color: $body-text-color !important;
      }
    }
    a.about-profiles__link{
      color: $body-text-color !important;
    }
    .module__toggle {
      background-color: transparent !important;
      border-top: none !important;
      color: $theme-color !important;

      &:hover{
        background-color: $ui-bg-color-hover !important; //hsla(226, 30%, 30%, .02)
      }
    }
    .module__toggle--more::after{
      // background: linear-gradient(rgba(255,255,255,0), #f0f1f4) !important;
      top: 1.25em !important;
      height: 1.25em !important;
    }
    .feedback-prompt{
      display: $feedback-prompt_display !important;
    }
  }
}
