@use "sass:math";

$calc-border: 1px solid $panel-border-color;
$calc-text-color: $body-text-color;

@mixin calc-nums {
  background-color: $background-color !important;
  border: $calc-border !important;
  color: $calc-text-color !important;
  &:hover{
    background-color: $ui-bg-color-hover !important;
  }
}
@mixin calc-ops{
  background-color: $background-color !important;
  // border: $calc-border !important;
  color: $calc-text-color !important;
  box-shadow: 0 0 0 1px $theme-color inset !important;
  font-weight: 400 !important;
  &:hover{
    background-color: $theme-color !important;
    color: $background-color !important;
  }
}
@mixin calc-sci {
  background-color: $ui-bg-color !important;
  border: $calc-border !important;
  color: $calc-text-color !important;
  &:hover{
    background-color: $ui-bg-color-hover !important;
    color: $header-text-color !important;
  }
}
@mixin calc-history{
  // background-color: lighten($background-color, 3) !important;
  background-color: $background-color !important;
  border: solid 1px $background-color !important;
  color: $calc-text-color !important;

}


html.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.has-zcm,
// html.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.has-zcm .dark-bg
{
  .zci--calculator{
    .tile__calc{
      .tile__skip-calc{
        @include calc-sci;
      }

      .tile__display{
        background-color: $ui-bg-color !important;
        border: $calc-border !important;
        // border-top:  solid 2px $panel-border-color !important;
        // border-left: solid 2px $panel-border-color !important;
        border-radius: math.div($border-radius * 2, 3) !important;

        &.hover{
          box-shadow: inset -1px -1px 0px $body-text-color, inset 1px 1px 0px $body-text-color;
        }

        &.selected{
          box-shadow: inset -1px -1px 0px $theme-color, inset 1px 1px 0px $theme-color !important;
        }
        .tile__display__aside--wrap{
          .tile__display__aside{
            color: $body-text-color !important;
          }
        }
        .tile__display__main{
          color: $header-text-color !important;
        }
        .tile__options{
          .tile__option{
            color: $body-text-color !important;

            &.tile__option--active{
              color: $theme-color !important;
            }
          }
        }
        .tile__display__main{
          background: transparent !important;
        }
      }

      .tile__tabs{

        .tile__calc__col{
          &.tile__tab__sci{
            // border-bottom: $calc-border !important;
            // border-left: $calc-border !important;
            margin-top: .25em !important;

            span.tile__ctrl__toggle{
              @include calc-sci;
              border-radius: $border-radius !important;
              box-shadow: 0 0 0 1px $panel-border-color inset !important;
              border: 2px solid $background-color !important;

              .tile__ctrl__toggle-slider{
                background-color: $background-color !important;

                &:before{
                  background-color: $theme-color !important;
                }

              }
            }

            button.tile__ctrl__btn{
              @include calc-sci;
              border-radius: math.div($border-radius, 2)!important;
              box-shadow: 0 0 0 1px $panel-border-color inset !important;
              border: 2px solid $background-color !important;
            }

          }

          &.tile__tab__basic{
            // border-bottom: $calc-border !important;
            margin-top: .25em !important;

            button.tile__ctrl__btn{
              @include calc-nums;
              border-radius: math.div($border-radius, 2) !important;
              box-shadow: 0 0 0 1px $panel-border-color inset !important;
              border: 2px solid $background-color !important;

              &.tile__ctrl--important{
                @include calc-ops;
                // border: none !important;
              }

              &.tile__ctrl--ops{
                @include calc-sci;
                border: 2px solid $background-color !important;
              }
            }

          }

          &.tile__history{
            @include calc-history;
            padding: 0 1em 0 0.5em !important;


            li{
              // @include calc-nums;
              @include card-button;
              // border: none !important;
              // border-radius: $border-radius / 2 !important;
              border-radius: math.div($border-radius, 2) !important;
              margin-bottom: .5em !important;

              &.tile__past-calc{
                border-bottom: $calc-border !important;
              }

              .tile__past-formula{
                color: $body-text-color !important;

              }

              .tile__past-result{
                color: $header-text-color !important;
              }
            }
          }
        }



      }
    }
  }
}
