@if $theme-dark{
  $red-color: $red-color-dark;
  $warning-color: $warning-color-dark;
}


html.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.dark-bg.has-zcm{
  .forecast-wrapper{
    .module.module--forecast{
      @include card;
      border-bottom-color: $background-color !important;

      .js-forecast-module-detail{
        .module__top{

          .module__current-wrap{
            .module__current{
              color: $header-text-color !important;
              font-weight: $header-weight !important;

            }
            .module__temperature{
              .module__temperature-units{
                a.module__temperature-unit{
                  color: $body-text-color !important;
                  display: inline-block !important;
                  width: 1.25em !important;

                  &:hover{
                    border-bottom: 2px solid $ui-bg-color-hover-secondary !important;
                  }

                  &.module__temperature-unit--on{
                    color: $header-text-color !important;
                    border-bottom: 2px solid $theme-color !important;
                  }
                }
                span.module__temperature-unit-separator{
                  color: $ui-bg-color !important;
                }
              }
            }
            // .module__place.text--primary{
            //   color: $body-text-color !important;
            // }
          }

          .module__place.text--primary{
            color: $body-text-color !important;
          }
          .module__summary{
            color: $body-text-color !important;
          }
          // .module__detail.module__detail--left{
          //   .module__temperature{
          //     .module__temperature-value{
          //       color: $header-text-color !important;
          //       font-weight: $header-weight !important;
          //     }
          //     .module__temperature-units {
          //       font-weight: $body-text-weight !important;
          //     }
          //     .module__temperature-unit--on {
          //       border-bottom: 1px solid $body-text-color !important;
          //     }
          //
          //     .module__temperature-unit-separator{
          //       color: $body-text-color !important;
          //     }
          //   }
          //
          // }
          // .module__detail.module__detail--right {
          // 	color: $body-text-color !important;
          //
          // 	.summary-more {
          // 	  font-weight: $body-text-weight !important;
          //   }
          // }

        }

        .module__bottom{
          padding: 0 0 1.1875em !important;

          // .module__detail.module__detail--hours{
          //   canvas{
          //     filter: contrast(0)sepia(1)hue-rotate(188deg)brightness(1)saturate(1.4) !important;
          //   }
          // }
          .module__detail--hours__labels{
            justify-content: space-around !important;

            .module__detail--hours__labels__item{
              .module__detail__temp-label{
                font-weight: 500 !important;
                color: $header-text-color !important;
              }
              .module__detail__hour-label{
                color: $body-text-color !important;
              }
            }
          }
          .module__detail__bottom{
            padding: 0 1.250em !important;
            width: auto !important;
            color: $body-text-color !important;
          }
        }

      }
      .module__items.align-days{
        color: $body-text-color !important;

        .module__items-item {
          border-top: solid 1px transparent !important;
          background-color: $ui-bg-color !important;

          .module__items-day,
          .module__items-unit,
          .module__items-unit--on,
          .module__items-unit--low{
            color: $body-text-color !important;

          }

          &:not(:last-child){
            border-right: solid 2px $background-color !important;
          }
          &.module__items-item--selected{
            background-color: transparent !important;
            border-top: solid 1px $theme-color !important;
            color: $header-text-color !important;

            // .module__items-day{
            //   color: $header-text-color !important;
            // }
            // .module__items-unit{
            //   color: $header-text-color !important;
            // }

            .module__items-day,
            .module__items-unit,
            .module__items-unit--on,
            .module__items-unit--low{
              color: $header-text-color !important;
            }
          }
          &:hover{
            background-color: $ui-bg-color-hover !important;
            // color: $body-text-color !important;
          }


        }
      }
      img {
	      filter: contrast(0.88)brightness(0.98);
      }




    }
    .module__more-at-and-feedback{
      p{
        a{
          text-decoration: none !important;

          &:hover{
            text-decoration: underline !important;
          }

          &.feedback-prompt__link{
            display: $feedback-prompt_display !important;
          }

          img{
            opacity: 1 !important;
          }

        }
        &.module__more-at{
          a.zci__more-at{
            color: $body-text-color !important;

          }
        }
      }

    }
  }
  .forecast-wrapper .module--forecast .module__weather-warning,
  .forecast-wrapper .module--forecast .module__weather-warning:hover,
  .forecast-wrapper .module--forecast .module__weather-warning:focus,
  .forecast-wrapper .module--forecast .module__weather-warning:visited {
  color: $warning-color !important;
  }

  .forecast-wrapper .module--forecast .module__weather-warning--red,
  .forecast-wrapper .module--forecast .module__weather-warning--red:hover,
  .forecast-wrapper .module--forecast .module__weather-warning--red:focus,
  .forecast-wrapper .module--forecast .module__weather-warning--red:visited {
  color: $red-color !important;
  }


}
