html {
  color: #23262f !important; }

.has-zcm ::selection {
  background-color: #dbe4ff; }

.has-zcm body {
  background-color: #23262f !important;
  color: #a3aac2 !important; }
  .has-zcm body a {
    color: #91A8F2 !important; }
  .has-zcm body .site-wrapper {
    background-color: #23262f !important; }
  .has-zcm body .is-mobile .results_links_deep,
  .has-zcm body .is-mobile .results_links,
  .has-zcm body .is-mobile .result--news,
  .has-zcm body .is-mobile .related-searches {
    border-radius: .5em !important;
    box-shadow: none !important;
    border: solid 1px transparent !important;
    border-bottom-color: transparent !important;
    margin: 0 0 1em 0 !important; }
  .has-zcm body .serp__bottom-right {
    display: none !important; }
    .has-zcm body .serp__bottom-right .btn.feedback-btn {
      background-color: #2c303a !important;
      border: solid 1px #2c303a !important;
      border-radius: 1em !important;
      box-shadow: none !important;
      border-bottom-color: #2c303a !important;
      font-size: 0.8em !important;
      line-height: 2.2em !important; }
      .has-zcm body .serp__bottom-right .btn.feedback-btn:hover {
        background-color: #3c404e !important;
        border: solid 1px #3c404e !important;
        border-radius: 1em !important;
        box-shadow: none !important;
        border-bottom-color: #3c404e !important; }

.has-zcm #message .msg__line {
  color: #e2e4e9 !important; }
  .has-zcm #message .msg__line a {
    color: #91A8F2 !important; }
