// Background color
$background-color: $gray-1000;

// UI colors
$ui-bg-color: $gray-950;
$ui-bg-color-hover: $gray-900;

// Border colors
$panel-border-color: $ui-bg-color-hover;
$divider-border-color: $ui-bg-color;
$ui-border-color: $ui-bg-color;
$ui-border-color-hover: $ui-bg-color;


// font colors
$body-text-color:   $gray-500;
$header-text-color: $gray-300;


//modal colors
$modal-bg-color: $gray-950;
$modal-text-color: $header-text-color;

$modal-bg-color-hover: $ui-bg-color-hover;
$modal-text-color-hover: $gray-100;

$modal-border-color: $gray-700;
$modal-divider-color: $gray-800;

// component-detail background-color for image results and video results
$detail-bg: $gray-975;
