// Background color
$background-color: $gray-1000;

// UI colors
$ui-bg-color: $gray-950;
$ui-bg-color-hover: $gray-900;

// Border colors
$panel-border-color: $ui-bg-color-hover;
$divider-border-color: $ui-bg-color;
$ui-border-color: $ui-bg-color;
$ui-border-color-hover: $ui-bg-color;

$selection-color:  hsl(hue($theme-color), 100%, 93%);

// font colors
$body-text-color:   $gray-500;
$header-text-color: $gray-300;
