// Background color
$background-color: $ui-900;

// UI colors
$ui-bg-color: $ui-750;
$ui-bg-color-hover: $ui-700;
$ui-bg-color-hover-secondary: $ui-650;

// Border colors
$panel-border-color: $ui-bg-color-hover;
$divider-border-color: $ui-bg-color;
$ui-border-color: $ui-bg-color;
$ui-border-color-hover: $ui-bg-color;


// font colors
$body-text-color:   $ui-500;
$header-text-color: $ui-300;


//modal colors
$modal-bg-color: $ui-950;
$modal-text-color: $header-text-color;

$modal-bg-color-hover: $ui-bg-color-hover;
$modal-text-color-hover: $ui-100;

$modal-border-color: $ui-700;
$modal-divider-color: $ui-800;

// component-detail background-color for image results and video results
$detail-bg: $ui-950;
$detail-color: $ui-300;
$detail-color-accent: $ui-bg-color-hover-secondary;
