// _smoke

// theme type: true-light false-dark
$theme-dark: false !default;

// Background color
$shade-background-color: $ui-100;

// UI colors
$shade-ui-bg-color: $ui-200;
$shade-ui-bg-color-hover: $ui-300;
$shade-ui-bg-color-hover-secondary: $ui-400;

// Border colors
$shade-panel-border-color: $shade-ui-bg-color-hover;
$shade-divider-border-color: $shade-ui-bg-color;
$shade-ui-border-color: $shade-ui-bg-color;
$shade-ui-border-color-hover: $shade-ui-bg-color;

// font colors
$shade-body-text-color:   $ui-700;
$shade-header-text-color: $ui-950;

//modal colors
$shade-modal-bg-color: $ui-200;
$shade-modal-text-color: $shade-header-text-color;

$shade-modal-bg-color-hover: $shade-ui-bg-color-hover;
$shade-modal-text-color-hover: $ui-800;

$shade-modal-border-color: $ui-700;
$shade-modal-divider-color: $ui-800;

// component-detail background-color for image results and video results
$shade-detail-bg: $ui-950;
$shade-detail-color: $ui-300;
$shade-detail-color-accent: $shade-ui-bg-color-hover-secondary;
