//gray

$ui-000:       #ffffff;
$ui-100:       #fbfbfb;
$ui-200:       hsl(0, 0%, 94%);
$ui-300:       hsl(0, 0%, 90%);
$ui-400:       hsl(0, 0%, 84%);
$ui-500:       hsl(0, 0%, 70%);
$ui-550:       hsl(0, 0%, 61%);
$ui-600:       hsl(0, 0%, 57%);
$ui-650:       hsl(0, 0%, 51%);
$ui-700:       hsl(0, 0%, 42%);
$ui-725:       hsl(0, 0%, 36%);
$ui-750:       hsl(0, 0%, 27%);
$ui-800:       hsl(0, 0%, 20%);
$ui-900:       hsl(0, 0%, 15%);
$ui-950:       hsl(0, 0%,  7%);
$ui-975:       hsl(0, 0%,  2%);
$ui-1000:      #000000;
