//
//
// apple palette
//
//


// light theme
$apl-bg-lt:

$apl-body-lt:
$apl-body-light-lt:
$apl-body-lighter-lt:

$apl-ui-bg-lt:
$apl-ui-lt:
$apl-ui-light-lt:
$apl-ui-lighter-lt:

$apl-border-lt:
$apl-border-alt-lt:


//  dark theme
$apl-bg-dt:

$apl-body-dt:
$apl-body-dark-dt:
$apl-body-darker-dt:

$apl-ui-bg-dt:
$apl-ui-dt:
$apl-ui-dark-dt:
$apl-ui-darker-dt:

$apl-border-lt:
$apl-border-alt-lt:
