//
//
// homepage.scss
//
//


#pg-index{
  .page-index.body--home{
    background-color: #fdfdfd !important;
    font-size: 90%;
    font-family: -apple-system, BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue", "Inter", "Noto Sans","Liberation Sans", Arial, sans-serif,"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
    font-weight: 400 !important;
    -webkit-font-smoothing: antialiased !important;

    ::selection{
      background: #c3d0ff !important;
    }

    #logo_homepage_link {
      width: 120px;
      background-position: bottom;
      height: 132px;
    }

    .tag-home__link{
      color: #698bff !important;
      -webkit-font-smoothing: auto !important;
    }

  }


} //#pg-index

//
// dark
//

@media (prefers-color-scheme: dark) {
  #pg-index.page-index.body--home{
    background-color: #0d0f17 !important;
  }

}
