//
//
// mac user
//
//


// light theme
$mac-bg-lt:

$mac-body-lt:
$mac-body-light-lt:
$mac-body-lighter-lt:

$mac-ui-bg-lt:
$mac-ui-lt:
$mac-ui-light-lt:
$mac-ui-lighter-lt:

$mac-border-lt:
$mac-border-alt-lt:


// dark theme
$mac-bg-dt:

$mac-body-dt:
$mac-body-dark-dt:
$mac-body-darker-dt:

$mac-ui-bg-dt:
$mac-ui-dt:
$mac-ui-dark-dt:
$mac-ui-darker-dt:

$mac-border-lt:
$mac-border-alt-lt:
