//
//
// _map-pin.scss
//
//




//
// color options
//

$pin:      $theme-color;


$pin-bg-default:    $pin;
$pin-bg-hover:      $pin;
$pin-bg-inactive:   $pin;



$pin-number: #FFFFFF;

// pin filter values
$default-huer:  hue($pin-bg-default);
$default-satu:  $default-satu-math;
$default-ligh:  $default-ligh-math;

$hover-huer:  hue($pin-bg-hover);
$hover-satu:  $hover-satu-math;
$hover-ligh:  $hover-ligh-math;


$inactive-huer:  hue($pin-bg-inactive);
$inactive-satu:  $inactive-satu-math;
$inactive-ligh:  $inactive-ligh-math;


//
$default-satu-math:  100 - (100 - saturation($pin-bg-default));

//
$pin-hover-satu: saturation($pin-bg-hover);

@if ($pin-hover-satu > 92){
  $hover-satu-math:  saturation($pin-bg-hover);
}
@else {
  $hover-satu-math:  100 - (100 - $pin-bg-hover) + 7;
}

//
$pin-inactive-satu: saturation($pin-bg-inactive);

@if ($pin-inactive-satu > 92){
  $inactive-satu-math:  saturation($pin-bg-inactive);
}
@else {
  $inactive-satu-math:  100 - (100 - $pin-bg-inactive) + 7;
}


$default-ligh-math:  100 - (100 - lightness($pin-bg-default));

//
$pin-hover-ligh: lightness($pin-bg-default);

@if ($pin-default-ligh > 72){
  $spin-default-number:  desaturate(darken($pin-bg-default, 50%), 50%);
}
@else {
  $pin-default-number:  $pin-number;
}

//
$pin-hover-ligh: lightness($pin-bg-hover);

@if ($pin-hover-ligh > 84){
  $hover-ligh-math:    100;
  $spin-hover-number:  $pin-bg-hover;
}
@else {
  $hover-ligh-math:    100 - (100 - $pin-bg-hover) + 10;
  $pin-hover-number:  $pin-number;
}

//
$pin-inactive-ligh: lightness($pin-bg-inactive);

@if ($pin-inactive-ligh > 24%){
  $inactive-ligh-math:  25%;
  $pin-inactive-number: #ffffff;
}
@else {
  $inactive-ligh-math:  100 - (100 - $pin-bg-inactive) + 7;
  $pin-inactive-number: $pin;
}





//
// css
//

.has-zim {

  .mgl-marker.mgl-marker--numbered {
    filter: hue-rotate($default-huer)saturate($default-satu)brightness($default-ligh) !important;

    span.mgl-marker__num{
      color:$pin-default-number;
    }
  }

  .mgl-marker.mgl-marker--numbered.mgl-marker--highlighted {
    filter: hue-rotate($hover-huer)saturate($hover-satu)brightness($hover-ligh) !important;

    span.mgl-marker__num{
      color:$pin-hover-number;
    }
  }

  .mgl-marker.mgl-marker--numbered.mgl-marker--disabled {
    filter: hue-rotate($inactive-huer)saturate($inactive-satu)brightness($inactive-ligh) !important;

    span.mgl-marker__num{
      color:$pin-inactive-number;
    }
  }

  .mgl-marker {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMjciIGhlaWdodD0iMzIiPgogIDxkZWZzPgogICAgPHBhdGggaWQ9ImEiIGQ9Ik03Ljk5MyAyNS44MzhDMy4yODMgMjMuNzMxIDAgMTkuMDAxIDAgMTMuNTA1IDAgNi4wNDYgNi4wNDQgMCAxMy41IDBTMjcgNi4wNDYgMjcgMTMuNTA1YzAgNS40NjQtMy4yNDUgMTAuMTcxLTcuOTEyIDEyLjI5Ny01LjI4MiAyLjY3OC0zLjg3IDYuMTQ4LTUuNTg4IDYuMTQ4LTEuNzExIDAtLjIwOC0zLjQzOC01LjUwNy02LjExMnoiLz4KICA8L2RlZnM+CiAgPGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgIDx1c2UgZmlsbD0iI0ZGMDAwMCIgeGxpbms6aHJlZj0iI2EiLz4KICAgIDx1c2UgZmlsbD0iIzAwMCIgZmlsbC1vcGFjaXR5PSIuMTUiIHhsaW5rOmhyZWY9IiNhIi8+CiAgPC9nPgo8L3N2Zz4K") !important;
  }
}
