
// fonts
$default-fonts: "DDG_ProximaNova", "DDG_ProximaNova_UI_0", "DDG_ProximaNova_UI_1", "DDG_ProximaNova_UI_2", "DDG_ProximaNova_UI_3", "DDG_ProximaNova_UI_4", "DDG_ProximaNova_UI_5", "DDG_ProximaNova_UI_6", "Proxima Nova", "Helvetica Neue", "Helvetica", "Segoe UI", "Nimbus Sans L", "Liberation Sans", "Open Sans", FreeSans, Arial, sans-serif;
$system-fonts: -apple-system, BlinkMacSystemFont,"Segoe UI","Inter", Roboto,"Helvetica Neue", Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$segoe-fonts: "Segoe UI", -apple-system, BlinkMacSystemFont, "Inter", Roboto,"Helvetica Neue", Arial, "Noto Sans","Liberation Sans", sans-serif,"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$custom-font: YOURCUSTOMFONT,sans-serif,"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";




// background-color and backdrop
$backdrop-filter: saturate(180%) blur(20px);
$backdrop-opacity: 0.12;

// translucent background-color
$translucent-92: 0.92;
$translucent-72: 0.72;
