//
//
// _tinted-variables.scss
//
//



//
// theme base
//

// color
$theme-color:         #698bff; //226.4
$theme-color-alt:     #698bff;
$transparent:           transparent;

$dual-tone:             true;


$theme-color-hue:                 hue($theme-color);
$theme-color-sat:          saturation($theme-color);
$theme-color-lig:           lightness($theme-color);

$theme-color-alt-hue:         hue($theme-color-alt);
$theme-color-alt-sat:  saturation($theme-color-alt);
$theme-color-alt-lig:   lightness($theme-color-alt);

$theme-color-neon:      hsl($theme-color-hue, 100%, 100%);
$theme-color-neon-alt:  hsl($theme-color-alt-hue, 100%, 100%);

// fonts
$system-fonts: -apple-system, BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue", Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;

$body-text-color:   hsl($theme-color-hue, $theme-color-sat, 2);
$body-text-weight:  400;
$body-text-size:    90%; //default
$text-thick:   auto !important;

//border
$border-radius:  1em;



//
// search results
//

// search title
$search-result-title:            $body-text-color;
$search-result-title-hover:      $search-result-title;
$search-result-title-visited:    $search-result-desc;

$search-result-title-weight:     500;
$search-result-title-weight-b:   ($search-result-title-weight + 100);


// search url
$search-result-url:          $theme-color;
$search-result-url-hover:    $theme-color;
$search-result-url-visited:  $theme-color;

$search-result-url-font-weight:            $body-text-weight;
$search-result-url-font-weight-thickness:  $text-thick;


// search description
$search-result-desc:           $theme-color;        //hsl($theme-color, 9, 60);
$search-result-desc-hover:     $search-result-desc;
$search-result-desc-visited:   $search-result-desc;

$search-result-desc-weight:    $body-text-weight;
$search-result-desc-weight-b:  ($search-result-desc-weight + 100);


// search results container
$search-results-bg:            $transparent;
$search-results-border:        $transparent;

$search-results-bg-hover:      $card-bg;
$search-results-border-hover:  $card-border;


// background-color
$page-bg:                 hsl($theme-color-hue-alt, 0, 99);
$page-bg-translucent-92:  rgba($page-bg, .92);
$page-bg-translucent-72:  rgba($page-bg, .72);


// search bar and auto-complete
$search-bar-bg-translucent:  red;
$search-bar-border-color:  red;

$search-AC-bg:  red;
$search-AC-bg-translucent:  red;



// modal
$modal-bg:  red;
$modal-bg-translucent: rbga($modal-bg, .72);
$model-body: $body-text-color;
$model-border:  red;
$modal-list-bg-hover:  red;


// card
$card-bg:      hsl(($theme-color), 40, 16);
$card-border:  $card-bg;

$card-bg-hover:      $card-bg;
$card-border-hover:  $card-bg;

$card-shadow:         none;
$card-border-radius:  $border-radius;

$card-title:        $search-result-title;
$card-title-hover:  $search-result-title;

$card-link:  $theme-color;

$card-body:  red;
$card-body-ui:  red;
