// background-color and backdrop
$backdrop-filter: saturate(180%) blur(20px);
$backdrop-opacity: 0.12;



// font
$body-text-weight:  400;
$body-text-weight-b: $body-text-weight + 100;

$header-weight: $body-text-weight + 200;



//
// search results
//

// search title
$search-result-title:            $header-text-color;
$search-result-title-hover:      $header-text-color;
$search-result-title-visited:    $body-text-color;

$search-result-title-weight:     ($body-text-weight + 100);
$search-result-title-weight-b:   ($search-result-title-weight + 100);


// search url
$search-result-url:          $theme-color;
$search-result-url-hover:    $theme-color;
$search-result-url-visited:  $theme-color;

$search-result-url-font-weight:            $body-text-weight;
$search-result-url-font-weight-thickness:  auto;


// search description
$search-result-desc:           $body-text-color;
$search-result-desc-hover:     $body-text-color;
$search-result-desc-visited:   $body-text-color;

$search-result-desc-weight:    $body-text-weight;
$search-result-desc-weight-b:  ($search-result-desc-weight + 100);


// search results container
$search-results-bg:            $gray-200;
$search-results-border:        $gray-200;

$search-results-bg-hover:      $gray-200;
$search-results-border-hover:  $gray-200;


// translucent background-color
$page-bg-translucent-92:  rgba($gray-100, .92);
$page-bg-translucent-72:  rgba($gray-100, .72);


// search bar and auto-complete
$search-bar-bg-translucent:  red;
$search-bar-border-color:  red;

$search-AC-bg:  red;
$search-AC-bg-translucent:  red;



// modal
$modal-bg: $background-color;
$modal-bg-translucent: rbga($modal-bg, .72);
$model-body: $body-text-color;
$model-border:  rgba(0,0,0,0.12);
$modal-list-bg-hover:  $theme-color;





//
// mixins
//

// card
@mixin card {
  background-color: $ui-bg-color !important;
  // border: solid 1px $ui-bg-color !important;
  border: solid 1px $ui-border-color !important;
  border-radius: $border-radius !important;
  box-shadow: none !important;
  // border-bottom-color: $ui-bg-color !important;
  border-bottom-color: $ui-border-color-hover !important;
}

@mixin card-button {
  @include card;

  &:hover{
    background-color: $ui-bg-color-hover !important;
    border: solid 1px $ui-bg-color-hover !important;
    border-radius: $border-radius !important;
    box-shadow: none !important;
    border-bottom-color: $ui-bg-color-hover !important;
  }
}

@mixin button-bg($btn-bg, $btn-radius-divisions){
  @if $btn-bg == $background-color{
    background-color: $ui-bg-color !important;
    &:hover{
      background-color: $ui-bg-color-hover !important;
    }
  }
  @else if $btn-bg == $ui-bg-color{
    background-color: $ui-bg-color-hover !important;
    &:hover{
      background-color: darken($ui-bg-color-hover, 5) !important;
    }
  }
  @else {
    // background-color: darken($btn-bg, 5) !important;
    background-color: $body-text-color !important;
    color: $background-color !important;
    &:hover{
      background-color: $header-text-color !important;
      background-color: $gray-400 !important;
    }
  }

  @if $btn-radius-divisions  == 0{
    border-radius: 0 !important;
  }
  @else{
    border-radius: $border-radius / $btn-radius-divisions !important;
  }
}

@mixin font{
  @if $font-family == 0{
    /* Using default font. */
  }
  @else if $font-family == $system-fonts{
    #pg-index,
    .has-zcm{
      body, input, select, textarea{
        font-family: $system-fonts !important;
      }

    }
  }
  @else if $font-family == $custom-font{
    #pg-index,
    .has-zcm{
      body, input, select, textarea{
        font-family: $custom-font !important;
      }

    }
  }
  @else{
    /* font failed */
  }

}
