

$theme-color: ;
$accent-color: ;

$bg-color: ;

$module-right-bg: true;

//
// calculation
//

$border-radius:;


//
// results
//

$result-title-color:;
$result-url-color:;
$result-description-color:;
$result-bg:;
$result-border-color:;

//hover
$result-title-color-hover:;
$result-hover-url-color-hover:;
$result-description-color-hover:;
$result-bg-hover:;
$result-border-color-hover:;

//active
$result-title-color-active:;
$result-hover-url-color-active:;
$result-description-color-active:;
$result-bg-active:;
$result-border-color-active:;

// module
$module-title-color:;
$module-description-color:;
$module-aux-colorL:;
$module-source-color:;

// module right

// more result

//
// nav-bar
//
