//
// related-searches
//

.has-zcm{
  .related-searches{
    background-color: $gray-200 !important;
    border-radius: $border-radius !important;
    overflow:hidden !important;
    padding: .5em 1.2em 0.8em !important;

    &.at-bottom{
      padding: 0px 12px !important;
      background: transparent !important;
    }

    .related-searches__title-long,
    .related-searches__title-short{
      font-weight: 500 !important;
      color: $header-text-color !important;
      font-size: 0.875em !important;
    }

    .related-searches__list{

      a.related-searches__link{
        font-weight: 400 !important;
        color: $theme-color-ui !important;
        font-size: 1em !important;
      }
      .related-searches__item-text::before{
        color: $theme-color-ui !important;
      }
    }
  }
  .results--sidebar{
    .module-slot{
      .related-searches{
        background-color: transparent !important;
      }
    }
  }
}
