.has-zcm{
  .results{
    .result{
      border-radius: 1em !important;
      border: solid 1px transparent !important;
      .result__body {
      padding-top: 0.6em !important;
      padding-bottom: 0.6em !important;

        h2.result__title{
          // display: inline-block !important;

          a.result__a{
            font-weight: $header-weight !important;
            color: $header-text-color !important;
            -webkit-font-smoothing: $font-smoothing !important;
            b{
              font-weight: $header-weight !important;
            }
            &:hover{
              text-decoration: none !important;
              color: $header-text-color !important;
            }
            &:visited{
              color: $body-text-color !important;
            }
          }

          &:hover ~ div .result__extras__url a.result__url{
            text-decoration: underline !important;
          }

        }

        .result__extras{
          .result__extras__url{
            a.result__url{
              -webkit-font-smoothing: auto !important;
              color: $search-result-url !important;

              &:hover{
                color: $search-result-url-hover !important;
              }
              &:visited{
                color: $search-result-url-visited !important;
              }

            }
            .result__extras__sep,
            .result__timestamp{
              color: $body-text-color !important;
            }
          }

        }
        .result__snippet{
          -webkit-font-smoothing: $font-smoothing !important;
          color: $body-text-color !important;
          text-decoration: none !important;

          .result__date{
            color: $body-text-color !important;
          }

          b, strong{
            color: $body-text-color !important;
            font-weight: $header-weight !important;
          }

        }
        .result__image{
          margin: 0.2em 0em 0.2em 1.5em !important;

          .result__image__plc{
            background-color: $theme-color !important;
          }
        }
      }
      &.highlight{
        @include card;
      }
    }

    .results__sitelink--organics{
      -webkit-font-smoothing: $font-smoothing !important;
      a.result__sitelink-title{
        color: $header-text-color !important;
        font-weight: $header-weight !important;

        &:visited{
          color:$body-text-color !important;
        }
      }
      .result__snippet{
        color:$body-text-color !important;
      }

    }
  }
  #links{
    margin-top: 0 !important;
  }
}


// .result__body {
// padding-left: 10px; //Don't change
// padding-right: 10px; //Don't change
// }
