@mixin header-translucency {
  @if $browser-support == 0{
    background-color: $background-color !important;
  }
  @else if $browser-support == 1{
    -webkit-backdrop-filter: $backdrop-filter !important;
    backdrop-filter: $backdrop-filter !important;
    background-color: $background-color !important;
    background-color: transparentize($background-color, .02) !important;
  }
  @else if $browser-support == 2{
    -webkit-backdrop-filter: $backdrop-filter !important;
    backdrop-filter: $backdrop-filter !important;
    background-color: $background-color !important;
    background-color: transparentize($background-color, $backdrop-opacity) !important;
  }
  @else if $browser-support == 3{
    -webkit-backdrop-filter: $backdrop-filter !important;
    backdrop-filter: $backdrop-filter !important;
    background-color: $background-color !important;
    background-color: transparentize($background-color, $backdrop-opacity) !important;
  }
  @else{
    background-color: $background-color !important;
  }
}


.has-zcm{
  #header_wrapper{
    @include header-translucency;
    box-shadow: 0 1px 0 $ui-bg-color !important;

    .header__search-wrap{
      .header__logo{
        background-image: $header__logo !important;
        background-color: $theme-color !important;
        border-radius: 50% !important;
        background-size: cover !important;
        width: 2.25em !important;
        height: 2.25em !important;
        font-size: 1em !important;
      }
    }

  }
}
