.page-index,
.has-zcm{
  .site-wrapper{
    .header-wrap{
      .header--aside{
        margin: 1.375em 1em auto 1em !important;
      }
      .header--aside__item{

        display: $clutter-d !important;



        .js-popout-trig{
          visibility: $clutter-v !important;
        }
        &.header__label{
          color: $body-text-color !important;
        }
        // Privacy, simplified.
        &.showcase{
          .header__clickable:hover,
          .header__clickable:focus{
            color: $body-text-color !important;

            .popout-trig{
              visibility: $clutter-v visible;
            }
          }
        }
        // 📢
        &.social{
          .header__clickable:hover,
          .header__clickable:focus{
            color: $body-text-color !important;

            .popout-trig{
              visibility: $clutter-v visible;
            }
          }
        }
      }
    }
    // ꠵ hamburger
    a.header__button--menu{
      color: $body-text-color !important;
      background-color: transparent !important;

      &:hover{
        background-color: $ui-bg-color-hover !important;
        color: $header-text-color !important;
      }
      &:active{
        background-color: $ui-bg-color-hover !important;
        color: $header-text-color !important;
      }
      &:focus{
        background-color: $ui-bg-color-hover !important;
        color: $header-text-color !important;
      }
    }
  }
}
html.is-mobile .dropdown--settings--cog .dropdown__button:after{
  color: $gray-700 !important;
}

.page-index,
.has-zcm{
  .site-wrapper{
    #zero_click_wrapper {
      min-height: 101px;
    }
    .header-wrap{
      position: fixed !important;
      width: 100% !important;
    }
  }
}
@media (max-width: 589px){
  .page-index,
  .has-zcm{
    .site-wrapper{
      #zero_click_wrapper {
        min-height: 136px;
      }
    }
  }
}
