$autocomplete-border-color: $gray-400; //hsl(hue($theme-color), 25%, 92%);
$autocomplete-divider-color: hsl(hue($theme-color), 26%, 88%);
$autocomplete-bg-color: hsl(hue($theme-color), 50%, 99%);
$autocomplete-body-color: $header-text-color;

$autocomplete-padd-size: 0.5em;
$autocomplete-padd-size-3fifths: $autocomplete-padd-size * 3/5;

@mixin autocomplete-translucency {
  @if $browser-support == 0{
    background-color: $autocomplete-bg-color !important;
  }
  @else if $browser-support == 1{
    -webkit-backdrop-filter: $backdrop-filter !important;
    backdrop-filter: $backdrop-filter !important;
    background-color: $autocomplete-bg-color !important;
    background-color: transparentize($autocomplete-bg-color, .02) !important;
  }
  @else if $browser-support == 2{
    -webkit-backdrop-filter: $backdrop-filter !important;
    backdrop-filter: $backdrop-filter !important;
    background-color: $background-color !important;
    background-color: transparentize($autocomplete-bg-color, $backdrop-opacity) !important;
  }
  @else if $browser-support == 3{
    -webkit-backdrop-filter: $backdrop-filter !important;
    backdrop-filter: $backdrop-filter !important;
    background-color: $background-color !important;
    background-color: transparentize($autocomplete-bg-color, $backdrop-opacity) !important;
  }
  @else{
    background-color: $autocomplete-bg-color !important;
  }
}



.has-zcm,
#pg-index{
  .search__autocomplete{
    border: solid 0px transparent !important;
    margin-top: 2px !important;
    width: 104% !important;
    left: -2% !important;
    max-height: 236px;
    box-shadow: 0px 2px 8px -6px #000000 !important;
    overflow: visible !important;

    .acp-wrap{
      @include autocomplete-translucency;
      border: 1px solid $autocomplete-border-color !important;

      border-radius: .5em !important;
      padding: 0.75em 0 !important;
      max-height: 236px;

      .acp{
        background-color: transparent !important;
        padding: 0.3em 0.65em !important;
        margin: 0em 0.7em !important;
        color: $header-text-color !important;
        border-radius: 0.25em;

        &.acp--highlight{
          background-color: $gray-300 !important;
          // color: $gray-000 !important;
        }
      }
    }
  }

}

#pg-index{
  .search__autocomplete{
    max-height: 265px;

    .acp-wrap{
      max-height: 265px;
    }
  }
}
